.jumbotron{
    text-align: center;
    background-color: rgb(255, 0, 0);
}

a{
    color: blueviolet;
    background-color: lawngreen;
    border-radius: 10px;
}

body{
    background-color: gold;
}

h1{
    text-align: center;
}

hr{
   border-color: green;
   border-style: dashed;
}
p{
    color: rgb(24, 35, 192);
    font-style: italic;
    font-size: larger;
}

marquee{
    font-size: xx-large;
    font-style: oblique;
}

.move{
    color: blue;
    border-style: dashed;
    border-color: red;
}

.ronaldo{
    background-color: red;
    border-radius: 10px;
    width: 300px;
    text-align:center ;
    border-style: dotted;
}

.statement{
    background-color: red;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    border-style: dotted;
}

.line{
    border-style: dashed;
}
